body {
    font-family: arial, helvetica, sans-serif;
    color: whitesmoke;
}

.player {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 8px 10px 18px, rgba(0, 0, 0, 0.12) 9px 15px 12px;
}
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    border-radius:50%;
    -moz-box-shadow:0px 6px 5px #ccc;
    -webkit-box-shadow:190px;
    box-shadow:0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;

    border-radius: 190px;
}
.now-playing {
    font-size: 1rem;

}
.track name {
    font-size: 2.5rem;

}
.track-artist {
    font-size: 1.5rem;
    margin-top: 5px;

}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.active {
    color:black;
}
.repeat-track,
.random-track,
.playpause-track,
.next-track,
.prev-track {
    padding: 2.5px;
    opacity: 0.8;
    transition:opacity 0.2s;
    
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.next-track:hover,
.prev-track:hover {
    opacity: 1.0;
    
}
.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;

}
seek-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek-slider::webkit-slider-thumb,
.volume-slider::webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 3px solid #83a9ff;
    cursor: pointer;
    border-radius: 100%;
  
}
.seek_slider::hover,
.volume-slider::hover {
    opacity: 1.0;

}
.seek_slider {
    width: 60%;
    
}
.volume-slider {
    width: 30%;

}
.current-time,
.total-duration {
    padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
    cursor: pointer;
 } 
 .random-active {
    color: black;
 } 
 .rotate {
    animation: rotation 8s infinite linear;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    .loader {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    .loader .stroke {
        background: white;
        height: 150px;
        width: 10px;
        border-radius: 50px;
        margin: 0px 50px;
        animation: animate 2s linear infinite;
    
        }
    @keyframes animate {
        
        50% {
            height: 20px;
            background: blue;
        }
        100% {
            height: 100px;

        }
    }
    .stroke:nth-child(1) {
        animation-delay: 0s;
    }
    .stroke:nth-child(2) {
        animation-delay: 0.3s;
    }
    .stroke:nth-child(3) {
        animation-delay: 0.6s;
    }
    .stroke:nth-child(3) {
        animation-delay: 0.9s;
    }
    .stroke:nth-child(4) {
        animation-delay: 0s;
    }
    .stroke:nth-child(5) {
        animation-delay: 1.3s;
    }
    .stroke:nth-child(6) {
        animation-delay: 1.6s;
    }
    .stroke:nth-child(7) {
        animation-delay: 1.9s;
    }

    








